@model NewcomersNetworkAPI.Models.Event
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Event Details";
}


<!-- Page Title
============================================= -->
<section id="page-title" style="background-color: #00588d; color: #fff !important">

    <div class="container clearfix">
        <h1 style="color: inherit !important">Event: @Model.Name</h1>
        <ol class="breadcrumb">
            <li><a href="/">Newcomers Network</a></li>
            <li><a href="/Events">Events</a></li>
            <li>@Model.Name</li>
        </ol>
    </div>

</section><!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="single-event">

                <div class="col_three_fourth">
                    <div class="entry-image nobottommargin">
                        <a href="@(Model.ExternalLink)"><img src="@(Model.HeadImg)" alt="@(Model.Name)"></a>

                        <div class="entry-overlay">
                            <span class="hidden-xs">@Model.SubTitle</span>
                        </div>

                    </div>
                </div>
                <div class="col_one_fourth col_last">
                    <div class="panel panel-default events-meta">
                        <div class="panel-heading">
                            <h3 class="panel-title">Event Info:</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="iconlist nobottommargin">
                                <li><strong>Starts</strong></li>
                                <li><i class="icon-calendar3"></i> @Model.StartDate.ToString("dd MMMM, yyyy")</li>
                                <li><i class="icon-time"></i> @Model.StartDate.ToString("HH:mm")</li>
                                <li>&nbsp;</li>
                                <li><strong>Ends</strong></li>
                                <li><i class="icon-calendar3"></i> @Model.EndDate.ToString("dd MMMM, yyyy")</li>
                                <li><i class="icon-time"></i> @Model.EndDate.ToString("HH:mm")</li>
                                <li><i class="icon-map-marker2"></i> @Model.Location</li>
                            </ul>
                        </div>
                    </div>
                    <a href="@(Model.ExternalLink)" class="btn btn-success btn-block btn-lg">Join this Event</a>
                </div>

                <div class="clear"></div>

                <div class="col_three_fourth">

                    <h3>Details</h3>

                    <p>@Model.Text1</p>

                    <p>@Model.Text2</p>
                    
                    <hr /> 
                    
                    <p>@Model.Footer</p>

                </div>
                
                <div class="clear"></div>

            </div>

        </div>

    </div>

</section><!-- #content end -->