<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - @System.Web.Configuration.WebConfigurationManager.AppSettings["ApplicationName"]</title>

    <link rel="stylesheet" href="~/Content/css/bootstrap3.3.6.css" />
    <link rel="stylesheet" href="~/Content/css/style.css" />
    <link rel="stylesheet" href="~/Content/css/swiper.css" />
    <link rel="stylesheet" href="~/Content/css/dark.css" />
    <link rel="stylesheet" href="~/Content/css/font-icons.css" />
    <link rel="stylesheet" href="~/Content/css/animate.css" />
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css" />
    <link rel="stylesheet" href="~/Content/css/responsive.css" />
    <link rel="stylesheet" href="~/Content/css/nn.css" />
    
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">          
    
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

</head>
<body class="">
    <div id="wrapper" class="clearfix">

        <header id="header" class="full-header">

            <div id="header-wrap">

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <!-- Logo
                    ============================================= -->
                    <div id="logo">
                        <a href="/" class="standard-logo"><img src="~/Content/Images/tpc-logo.png" alt="The Peoples Church"></a>
                        <a href="/" class="retina-logo" data-dark-logo="~/Content/Images/tpc-logo.png">
                            <img src="~/Content/Images/tpc-logo.png" alt="The People's Church">
                        </a>
                    </div><!-- #logo end -->
                    
                    @if (ViewBag.SessionUser != null)
                    {
                        <div id="top-account" class="dropdown">
                            <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-user"></i> <span class="nn-usrname-mnu">@(ViewBag.SessionUser.Name)</span> <i class="icon-angle-down"></i></a>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                <li>
                                    <img src="@(ViewBag.SessionUser.Picture)" class="aligncenter img-usrprofile img-thumbnail notopmargin nobottommargin" alt="Avatar" style="max-width: 84px; display:block">
                                </li>
                                <li>
                                    <a href="#"><h5>@ViewBag.SessionUser.Name</h5></a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/UserProfile"><i class="icon-user"></i> Profile</a></li>
                                    @if (ViewBag.SessionUser.HasRole("Administrator") || ViewBag.SessionUser.HasRole("Assistant"))
                                    {
                                        <li><a href="/NNAdmin1/Dashboard"><i class="icon icon-cog"></i> Administration</a></li>
                                    }
                                <li role="separator" class="divider"></li>
                                <li><a href="/UserProfile/LogOut"><i class="icon-signout"></i> Logout</a></li>
                            </ul>
                        </div>
                    }

                    <!-- Primary Navigation
                    ============================================= -->
                    <nav id="primary-menu">
                        <ul>
                            <li>
                                <a href="/FindUs"><div>Find Us</div></a>
                            </li>

                            <li>
                                <a href="/Calendar"><div>Events Schdule</div></a>
                            </li>

                            <li>
                                <a href="/Serving"><div>Serving Opportunities</div></a>
                            </li>

                            @if (ViewBag.SessionUser == null)
                            {
                                <li>
                                    <a href="#"><div>Join Us</div></a>
                                    <ul>
                                        <li><a href="/UserProfile/Login"><div>Login</div></a></li>
                                        <li><a href="/UserProfile/SignIn"><div>Sign-In</div></a></li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </header><!-- #header end -->

        @RenderBody()

        <!-- Footer   ============================================= -->
        <footer id="footer" class="dark">

            <!-- Copyrights ============================================= -->
            <div id="copyrights">

                <div class="container clearfix">

                    <div class="col_full left">

                        <div class="fleft clearfix">
                            <a href="#" class="social-icon si-small si-borderless nobottommargin si-facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>
                            <a href="#" class="social-icon si-small si-borderless nobottommargin si-twitter">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>
                            <a href="#" class="social-icon si-small si-borderless nobottommargin si-gplus">
                                <i class="icon-gplus"></i>
                                <i class="icon-gplus"></i>
                            </a>
                        </div>
                        <div class="fleft clearfix">
                            Find Us
                        </div>
                    </div>
                    <div class="col_half">
                        <img src="~/Content/Images/tpc-logo.png" alt="" class="footer-logo">
                        Copyrights &copy; 2017 All Rights Reserved by Newcomers Network.
                    </div>
                </div>
            </div><!-- #copyrights end -->

        </footer><!-- #footer end -->

    </div>

    <script src="~/Content/js/jquery-1.12.4.js"></script>
    <script src="~/Content/js/plugins.js"></script>
    <script src="~/Content/js/functions.js"></script>
    
    @RenderSection("JSSection", required: false)

    <script type="text/javascript">
        $(document).ready(function () {

            @RenderSection("DocReadySection", required: false)

        });
    </script>

</body>
</html>
